<div ng-controller="CapController">
<center style="color:blue;" size =28><h1>Capacity Details</h1></center>
	<table class="table table-striped" border="1">
		<tr>
			<th><h4>TwoCapacity</h4></th>
			<th><h4>FourCapity</h4></th>
			<th><h4>TwoCost</h4></th>
			<th><h4>FourCost</h4></th>
		</tr>
		<tr>
			<td><h4>{{ vData.two }}</h4></td>
			<td><h4>{{ vData.four }}</h4></td>
			<td><h4>{{ vData.twoCost }}</h4></td>
			<td><h4>{{ vData.fourCost }}</h4></td>
		</tr>
	</table>
	<center><h4><a href="#/">Park</a></h4></center>
</div>